<li>
  <ul class="kitten">
    <li>Name: <%= kitten.name %></li>
    <li>Age: <%= kitten.age %></li>
    <li>Softness: <%= kitten.softness %></li>
    <li>Cuteness: <%= kitten.cuteness %></li>
    <li></li>
    <li><%= link_to "More detail on this kitten", kitten %></li>
    <li><%= link_to "Delete kitten", kitten, method: :delete %>
  </ul>
</li>
